@import "./base/common";
@import "./base/conteiner";
@import "./base/section";

@import "./components/close-btn";
@import "./components/is-hidden";
@import "./components/modal";
@import "./components/textarea";
@import "./components/form";

@import "./layout/nav";
@import "./layout/order_the_service";
@import "./layout/post";
@import "./layout/our_team";
@import "./layout/our_customers";
@import "./layout/web_studio";
@import "./layout/join_us";
@import "./layout/sign_up";

@import "./pages/container_portfolio";
@import "./pages/portfolio"