.join_us__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 206px;
    height: 80px;
    left: 316px;
    top: -115px;
}

.join_us {
    display: flex;
    gap: 10px;
    width: 206px;
    height: 46px;
    margin-top: 38px;
}

.join_us_heading {
    position: relative;
    width: 113px;
    height: 16px;
    top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.join_us_icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;
}

.join_us_icon:hover,
.join_us_icon:focus {
    background-color: var(--primary-color);
    transition: 500ms linear;

}