.nav_logo {
    position: relative;
    width: 145px;
    height: 31px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--font-main-color);
}

.nav__social-links {
    display: flex;
    justify-content: center;
    position: relative;
    width: 259px;
    height: 48px;
    margin-left: 210px;
    margin-top: 1px;
    gap: 46px;
}

.nav_link {
    position: relative;
    width: 42px;
    height: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--font-main-color);
    text-decoration: none;
}

.nav_link:hover,
.nav_link:focus {
    color: var(--primary-color);
    transition: 350ms linear;
}