.our_customers_heading {
    position: relative;
    width: 201px;
    height: 42px;
    left: 490px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-main-color);
}

.our_customers__link {
    display: flex;
    flex-direction: row;
    width: 170px;
    height: 92px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.our_customers__link svg {
    width: 106px;
    height: 61px;
    margin-left: 33px;
    margin-top: 13px;
}

.our_customers__link:hover,
.our_customers__link:focus {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: 350ms linear;
}