.web_studio {
    position: relative;
    width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.web_studio_link {
    position: relative;
    width: 285px;
    height: 81px;
    top: 20px;
    padding: 0;
    list-style: none;
}

.web_studio__mail {
    padding: 5px;
    margin-left: -4px;
    color: #757575;
}