.close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    border-radius: 50%;
    background: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
}