* {
    box-sizing: border-box;
    margin: 0;
}

.team {
    display: flex;
    gap: 30px;
    margin-left: -30px;
    margin-top: 50px;
}

li {
    list-style: none;
}

:root {
    --primary-color: #2196F3;
    --font-main-color: #212121;
    --another-color: #757575;
}

.link {
    text-decoration: none;
    color: var(--font-main-color);
}

.table-of-contents {
    color: var(--primary-color);
}

.active_line::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 26px;
    width: 53px;
    height: 4px;
    background: var(--primary-color);
    border-radius: 2px;
}

.active:hover {
    color: var(--primary-color);
    transition-duration: 3000ms;
    transition-timing-function: linear;
}

.link_link_nav {
    position: relative;
    display: flex;
    width: 130px;
    height: 16px;
    top: -50px;
    left: 820px;

}

.link_link {
    display: flex;
    gap: 10px;
    width: 178px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--another-color);
    text-decoration: none;
}

.link_link_icon {
    margin-top: 1px;
}

.link_link:hover,
.link_link:focus {
    color: var(--primary-color);
    transition: 350ms linear;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}