.conteiner__nav {
    height: 80px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    margin-left: 160px;
}

.conteiner__adress {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2679px;
    background: #2F303A;
}

.container__portfolio {
    width: 1600px;
    height: 1880px;
    margin: 0;
}

.conteiner__modal_window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    animation: animate 2000ms;
}