.section__order_the_service {
    position: absolute;
    width: 1600px;
    height: 600px;
    top: 80px;
    background-color: #2F303A;
    background-image: url(../images/car_design.jpg);
}

.section__lorem-ipsum {
    position: absolute;
    width: 1600px;
    height: 395px;
    top: 680px;
}

.section__What-we-do {
    position: absolute;
    width: 1600px;
    height: 566px;
    top: 1119px;
}

.section__our_team {
    position: absolute;
    width: 1600px;
    height: 708px;
    left: 0px;
    top: 1599px;
    background: #F5F4FA;
}

.section__our_customers {
    position: absolute;
    width: 1600px;
    height: 372px;
    top: 2307px;
}

.section__portfolio {
    box-sizing: border-box;
    width: 1600px;
    height: 1548px;
    border: 2px dashed dimgray;
    border: 1px solid #ECECEC;
}