.section__nav {
    height: 80px;
    width: 100%;
    left: 0px;
    top: 0px;
}

.section__order_the_service {
    height: 600px;
    width: 100%;
    background-image: url(../images/car_design.jpg);
}

.section__lorem-ipsum {
    padding: 94px 0;
    width: 100%;
    margin-top: -44px;
}

.section__What-we-do {
    padding: 94px 0;
    width: 100%;
    top: 1119px;
    margin-left: -5px;
}

.section__our_team {
    width: 100%;
    padding: 94px 0;
    left: 0px;
    top: 1599px;
    background: #F5F4FA;
}

.section__our_customers {
    width: 100%;
    top: 2307px;
    padding: 94px 0;
}

.section__adress {
    position: relative;
    height: 252px;
    width: 100%;
    padding: 60px 0;
    left: 0px;
    background: #2F303A;
}